<!-- Account Login -->
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<!-- display a message -->
<%= messages() %>

<% if (errors) { %>
  <ul class="warningDetails">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%if (message) {%>
  <p class="success-text"><%= message %></p>
<%}%>

<h2>Welcome <%= accountData.account_firstname %></h2>

<p><a href="/account/update/<%= accountData.account_id %>">Update Account Information</a></p>

<% if (accountData.account_type !== 'Client') {%>
<p><a href="/inv/">Inventory Management</a></p>
<%}%>