<!-- Account Login -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- display a message -->
<%- messages() %>
<% if (errors) { %>
    <ul class="warningDetails">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- Registration Form -->
<div id="registrationForm">
<p class="allRequired">FILL ALL THE FIELDS</p>
<form class="input-box" action="/account/register" method="post">
    <label>First name<input type="text" name="account_firstname" placeholder="Minimum 1 character" id="accountFirstname" required autocomplete="given-name" value="<%= locals.account_firstname %>"></label>
    <label>Last name<input type="text" name="account_lastname" minlength="2" placeholder="Minimum 2 characters" id="lastFirstname" required autocomplete="family-name" value="<%= locals.account_lastname %>"></label>
    <label>Email<input type="email" name="account_email" id="accountEmail" required autocomplete="email" value="<%= locals.account_email %>"></label>
    <label>Password <input type="password" name="account_password" id="password" required autocomplete="current-password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><span class="reveal-button active" id="passwordShow">Show Password</span></label>
    <input type="submit" value="REGISTER" class="submitButton">
</form>
    <p class="passwordIntro">
        The password must be:
    </p>
    <ul class="passwordIntro">
        <li>12 characters in length, minimum</li>
        <li>Contain at least 1 capital letter</li>
        <li>Contain at least 1 number</li>
        <li>Contain at least 1 special character</li>
    </ul>
</div>

<script src="/js/script.js"></script>