<h1><%= title %></h1>

<!-- display errors -->

<% if (errors) { %>
    <ul class="warningDetails">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<div class="form-container">
  <p class="formSpecial">Confirm Deletion - The delete is permanent.</p>
  <form class="input-box" id="deleteForm" action="/inv/delete" method="post">
    <label>Make<input type="text" name="inv_make" pattern="^[A-Za-z0-9 ]+$" minlength="3" placeholder="min 3 characters"  value="<%= locals.inv_make %>" readonly></label>
    <label>Model<input type="text" name="inv_model" pattern="^[A-Za-z0-9 ]+$" minlength="3" placeholder="min 3 characters"  value="<%= locals.inv_model %>" readonly></label>
    <label>Year<input type="text" name="inv_year" pattern="^\d+$"  value="<%= locals.inv_year %>" readonly></label>
    <label>Price<input type="text" name="inv_price" pattern="^[0-9]+$"  value="<%= locals.inv_price %>" readonly></label>
    <button type="submit">Delete Vehicle</button>
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
  </form>
</div>